/*icons*/
.icon-number-0:before
{
    content: "〇";
}
.icon-number-1:before
{
    content: "①";
}
.icon-number-2:before
{
    content: "②";
}
.icon-number-3:before
{
    content: "③";
}
.icon-number-4:before
{
    content: "④";
}
.icon-number-5:before
{
    content: "⑤";
}
.icon-number-6:before
{
    content: "⑥";
}
.icon-number-7:before
{
    content: "⑦";
}
.icon-number-8:before
{
    content: "⑧";
}
.icon-number-9:before
{
    content: "⑨";
}
.icon-number-10:before
{
    content: "⑩";
}
.myicon-QQ:before
{
    content: "Q";
    border: 1px solid transparent;
    display: inline-block;
    font-family: 'Hobo Std';
    font-style: normal;
    font-weight: normal;
    margin: 0 2px;
    text-decoration: inherit;
}
/*清除浮动*/
.clearfix:after
{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.clearfix
{
    zoom: 1;
}
/*空位符*/
.spaces
{
    padding: 0em 1em;
}
/*mask*/
#mask
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: #000;
}
.mask-none
{
    opacity: 0;
    z-index: -1;
    display: none;
}
.mask-middle /*遮住基本界面*/
{
    opacity: 0.3;
    z-index: 1;
}
.mask-top /*遮住应用层、功能层*/
{
    opacity: 0.5;
    z-index: 3;
}
.mask-top-top /*遮住对话框层*/
{
    opacity: 0.8;
    z-index: 5;
}
/*loading*/
#loading
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; /*不与遮罩层冲突*/
    background-color:transparent;
    z-index: 6;
    font-size:86px;
    text-align:center;
}
#loading h2
{
    color:#FFFFFF;
    }
.loading {
    position: relative;
    display: inline-block;
    height:32px;
    width:64px;
    -webkit-transform: scale(0.5);     /* for Chrome || Safari */
    -moz-transform: scale(0.5);        /* for Firefox */
    -ms-transform: scale(0.5);         /* for IE */
    -o-transform: scale(0.5);    
}
.loading .dot {
  position: absolute;
  opacity: 0;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation-name: loading;
  -moz-animation-name: loading;
  -ms-animation-name: loading;
  -o-animation-name: loading;
  animation-name: loading;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -o-animation-duration: 5.28s;
  -moz-animation-duration: 5.28s;
  -webkit-animation-duration: 5.28s;
  animation-duration: 5.28s;
}
.loading .dot:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
}
.loading .dot:nth-child(2) {
  -webkit-animation-delay: .23s;
  -moz-animation-delay: .23s;
  -ms-animation-delay: .23s;
  -o-animation-delay: .23s;
  animation-delay: .23s;
}
.loading .dot:nth-child(3) {
  -webkit-animation-delay: .46s;
  -moz-animation-delay: .46s;
  -ms-animation-delay: .46s;
  -o-animation-delay: .46s;
  animation-delay: .46s;
}
.loading .dot:nth-child(4) {
  -webkit-animation-delay: .69s;
  -moz-animation-delay: .69s;
  -ms-animation-delay: .69s;
  -o-animation-delay: .69s;
  animation-delay: .69s;
}
.loading .dot:nth-child(5) {
  -webkit-animation-delay: .92s;
  -moz-animation-delay: .92s;
  -ms-animation-delay: .92s;
  -o-animation-delay: .92s;
  animation-delay: .92s;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  8% {
    -webkit-transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
  }
  30% {
    -webkit-transform: rotate(455deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
  }
  60% {
    -webkit-transform: rotate(815deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(965deg);
    -webkit-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(225deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  8% {
    -moz-transform: rotate(345deg);
    -moz-animation-timing-function: linear;
  }
  30% {
    -moz-transform: rotate(455deg);
    -moz-animation-timing-function: ease-in-out;
  }
  40% {
    -moz-transform: rotate(690deg);
    -moz-animation-timing-function: linear;
  }
  60% {
    -moz-transform: rotate(815deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  75% {
    -moz-transform: rotate(965deg);
    -moz-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes loading {
  0% {
    -moz-transform: rotate(225deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  8% {
    -moz-transform: rotate(345deg);
    -moz-animation-timing-function: linear;
  }
  30% {
    -moz-transform: rotate(455deg);
    -moz-animation-timing-function: ease-in-out;
  }
  40% {
    -moz-transform: rotate(690deg);
    -moz-animation-timing-function: linear;
  }
  60% {
    -moz-transform: rotate(815deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  75% {
    -moz-transform: rotate(965deg);
    -moz-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  8% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  60% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(965deg);
    animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*message*/
#message
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: 6;
    font-size:112px;
    text-align:center;
}
/*color*/


/*hidden*/
.hidden
{
    display: none;
    visibility: hidden;
    height: 0px;
    width: 0px;
    overflow: hidden;
}
/*scrollbar
::-webkit-scrollbar
{
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-corner
{
    background-image: url(resources/corner.png);
    background-repeat: no-repeat;
}

::-webkit-scrollbar-corner:window-inactive
{
    background-image: url(resources/corner-inactive.png);
}

::-webkit-resizer
{
    background-image: url(resources/resizer.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

::-webkit-resizer:window-inactive
{
    background-image: url(resources/resizer-inactive.png);
}

::-webkit-scrollbar-track-piece:disabled
{
    display: none !important;
}

::-webkit-scrollbar-button:disabled
{
    display: none !important;
}

::-webkit-scrollbar-track:disabled
{
    margin: 6px;
}
*/