#nw-form div{
	position:fixed;
	z-index:10;
}
#nw-form .top{
	width:100%;
	height:1px;
	background-color:#6D6D6D;
	left:0px;
	top:0px;
}
#nw-form .bottom{
	width:100%;
	height:1px;
	margin-top: -1px;
	background-color:#6D6D6D;
	left:0px;
	top:100%;
}
#nw-form .left{
	height:100%;
	width:1px;
	background-color:#6D6D6D;
	left:0px;
	top:0px;
}
#nw-form .right{
	height:100%;
	width:1px;
	margin-left: -1px;
	background-color:#6D6D6D;
	left:100%;
	top:0px;
}