body
{
    /*border-radius:20%;*/
}
.people
{
    cursor: pointer;
}
.people:hover
{
    outline: 3px solid #B91D47;
}
.rollback
{
    display: inline-block;
}
button
{
    overflow: hidden;
}
button i
{
    display: inline-block;
}

/*rewrite interface*/
#interface .page-header
{
    margin-left: 10px;
}
#interface .page.fill
{
    border: 0px;
    margin-left: 20px;
}
#interface .page.snapped
{
    border: 0px;
    border-left: 1px solid #6D6D6D;
    padding-left: 10px;
    margin-left: -30px;
}
