body
{
    overflow-x: hidden;
}
#interface
{
    /*padding-left: 20px;*/
    padding: 2px;
}
#frame-page-all-department .listview li
{
    width:250px;
    }
.people
{
    cursor: pointer;
}
.people:hover
{
    outline: 3px solid #999999;
}
.listview .people
{
	padding: 0px;
}
@media (max-width: 979px) and (min-width: 768px){
	.listview .people 
	{
		width: 104px;
	}
}
/*student info and calendar*/
/*.studentframe{
	margin-left: -40px;
}*/

.prompt{
	/*margin-bottom: -600px;*/
	z-index: 2;
	position:relative;
}

.calendar
{
	width: 120%;
	margin-left: 12px;
}
.calendar .days
{
    height: 360px; /*360/24 = 15px/小时*/
    overflow: hidden;
}
.calendar .days .duty
{
    position: absolute;
    display: block;
    background-color: #666666;
    z-index: 1;
    cursor: row-resize; /* */
}
.calendar .days .duty.active:hover
{
    -webkit-transform: scale(1.5); /* for Chrome || Safari */
    -moz-transform: scale(1.5); /* for Firefox */
    -ms-transform: scale(1.5); /* for IE */
    -o-transform: scale(1.5);
    border:1px solid #4EA6EA;
}
.calendar .days .time-control
{
    position: absolute;
    z-index: 1;
    display: block;
    background-color: #333333;
}
.calendar .days .up
{
    cursor: n-resize;
}
.calendar .days .down
{
    cursor: n-resize;
}
.weekSeleter i{
	cursor:pointer;
}
.dayDetailed .icon i{
	font-size:24px;
	width:1em;
	line-height:26px;
}


#frame-page-all-department_toolbar{
    padding-bottom: 10px;
}
#frame-page-all-student_toolbar{
    padding-bottom: 10px;
}

.selected{
  color: #1dabb8 !important;
}
.selected td{
  background-color: #1d1d1d !important;
}
.dataTables_length{
    padding: 5px;
    width: 300px;
}
.dataTables_length span{
    padding: 5px;
    float: left;
}
.dataTables_length select{
    float: left;
    width: 40%;
}

.dataTables_paginate.paging_two_button{
    float: right;
    font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;
}
.dataTables_paginate.paging_two_button a{cursor: pointer;text-underline-style: none;}
.paginate_disabled_previous
{
    color: #525252;
}
.paginate_disabled_next
{
    color: #525252;
}
.paginate_disabled_previous::before{content:"\f053";color: #525252;}
.paginate_disabled_next::after{content:"\f054";color: #525252;}

.paginate_enabled_previous::before{content:"\f053";}
.paginate_enabled_next::after{content:"\f054";}




.input-control.dropdown.button{
    width: 100%;
    padding: 0px;
    padding-right: 2.5em;
}
.input-control.dropdown.button ul{
    margin-top: 0px;
    box-shadow: 0px 0px 5px #1dabb8;
}


#frame-page-navs{
    padding: 2px;
    padding-bottom: 0px;
}
#frame-page-navs li{
    margin-bottom: -14px;
}
#frame-page-navs li a{
    padding-right: 28px;
}
#frame-page-navs li[class*=right]{
    margin-bottom: 0px;
}
#frame-page-navs li[class*=right] a{
    padding-right: 14px;
}
#frame-page-navs li i{
    position: relative;
    top: -28px;
    z-index: 2;
    float: right;
}
#frame-page-navs li i:hover{
    color: #a40400;
}